<div class="fields">
    <%= f.text_field :interest, :class => 'interest', 'data-id' => 'replace_id'%>
    <label><%= f.object.interest %><%= link_to_remove_interests '<i class="icon-remove"></i>'.html_safe, f, :class => 'btn btn-mini' %></label>
</div>