<div id="footer">		
		<div class="content_pad">			
			<p>&copy; 2010-11 Copyright <a href="http://madebyamp.com">Find-A-Tech New Jersey</a>. Powered by <a href="http://findatech.com">Find-A-Tech</a>.</p>
		</div> <!-- .content_pad -->
	</div> <!-- #footer -->		