	<div id="top">
		
		<div class="content_pad">			
			<ul class="right">
				
				<li>
					<% if user_signed_in? %>
						<a href="/users/dashboard" class="top_icon"><span class="ui-icon ui-icon-person"></span>Logged in as <%= current_user.username %></a>
					<% else %>
						<a href="/users/sign_in" class="top_icon"><span class="ui-icon ui-icon-person"></span>Sign in</a>
					<%end%>
				</li>
				<li>
					<%if user_signed_in?%>
						<% if current_user.role?('user') %>
							<% @alert = Appointment.find(:all, :conditions => "status = 'unconfirmed' and user_id = #{current_user.id}")%>
						<% elsif current_user.role?('tech') %>
							<% @alert = Appointment.find(:all, :conditions => "(status = 'rescheduled' or status = 'new') and user_id = #{current_user.id}") %>
						<% end %>
							
						<% if !@alert.blank? %>
							<%= link_to @alert.length.to_s + " New Alert"+(@alert.many? ? 's' : ''), "/users/appointments", :class => 'new_messeges top_alert'%>
						<% end %>
					<% end %>
				</li>
					
				<% if user_signed_in? %>
					<li><%= link_to "Settings", settings_users_path %></li>
					<li><%= link_to "Logout", destroy_user_session_path, :method => 'delete' %></li>
				<% end %>
			</ul>
		</div> <!-- .content_pad -->
		
	</div> <!-- #top -->	