<%= render 'user_mailer/shared/email_top' %>

    <h1 style="color: #78BE3F;display: block;font-family: Arial;font-size: 30px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 20px;margin-left: 0;text-align: left">
        Hello <%= @resource.email %>!
    </h1>

    <p>Someone has requested a link to change your password, and you can do this through the link below.</p>

    <p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>

<%= render 'user_mailer/shared/email_bottom' %>